<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user4::list</title>
</head>
<body>
    <h3>user4 목록</h3>
    <a th:href="@{/}">처음으로</a>
    <a th:href="@{/user4/register}">등록하기</a>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
            <th>휴대폰</th>
            <th>주소</th>
            <th>관리</th>
        </tr>
        <tr th:each="user4 : ${user4DTOList}">
            <td th:text="${user4.uid}">아이디</td>
            <td th:text="${user4.name}">이름</td>
            <td th:text="${user4.gender}">성별</td>
            <td th:text="${user4.age}">나이</td>
            <td th:text="${user4.hp}">휴대폰</td>
            <td th:text="${user4.addr}">주소</td>
            <td>
                <a th:href="@{/user4/modify(uid=${user4.uid})}">수정</a>
                <a th:href="@{/user4/delete(uid=${user4.uid})}">삭제</a>
            </td>
        </tr>
    </table>
</body>
</html>