<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ch06</title>
    <!--
        날짜 : 2025.03.13
        이름 : 곽혜수
        내용 : ch06. Spring Boot 실습하기

        주소 >> http://localhost:8080/프로젝트명/

        프로젝트 생성
         - Spring Initializr
         - 프로젝트명 : ch06
         - Group : kr.co.ch06
         - Artifact : ch06
         - Package name : kr.co.ch06

        의존성 설정
         - Spring Boot DevTools
         - Lombok
         - Spring Configuration Processor
         - Spring Web
         - Thymeleaf
         - MyBatis Framework
         - MySQL Driver
    -->
</head>
<body>
    <h3>ch06. Spring Boot</h3>
    <p> Hello World</p>
    <p>( =①ω①=)</p>

    <h4>Spring Boot 기본</h4>
    <a href="/ch06/sub1/hello">hello</a>
    <a href="/ch06/sub1/welcome">welcome</a>
    <a href="/ch06/sub1/greeting">greeting</a>

    <h4>Thymeleaf 실습</h4>
    <a href="/ch06/sub2/thymeleaf">thymeleaf</a>

    <h4>User CRUD 실습</h4>
    <a th:href="@{/user1/list}">user1  목록</a>
    <a th:href="@{/user2/list}">user2  목록</a>
    <a th:href="@{/user3/list}">user3  목록</a>
    <a th:href="@{/user4/list}">user4  목록</a>
    <a th:href="@{/user5/list}">user5  목록</a>
</body>
</html>