<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user2::list</title>
</head>
<body>
    <h3>user2 목록</h3>
    <a th:href="@{/}">처음으로</a>
    <a th:href="@{/user2/register}">등록하기</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>BIRTH</th>
            <th>ADDRESS</th>
            <th>MANAGEMENT</th>
        </tr>
        <tr th:each="user2 : ${user2DTOList}">
            <td>[[${user2.uid}]]</td>
            <td>[[${user2.name}]]</td>
            <td>[[${user2.birth}]]</td>
            <td>[[${user2.addr}]]</td>
            <td>
                <a th:href="@{/user2/modify(uid=${user2.uid})}">update</a>
                <a th:href="@{/user2/delete(uid=${user2.uid})}">delete</a>
            </td>
        </tr>
    </table>
</body>
</html>