<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user2::modify</title>
</head>
<body>
  <h3>user2 수정</h3>
  <a th:href="@{/}">처음으로</a>
  <a th:href="@{/user2/list}">목록이동</a>

  <form th:action="@{/user2/modify}" method="post">
    <table border="1">
      <tr>
        <td>ID</td>
        <td><input type="text" name="uid" th:value="${user2DTO.uid}" readonly placeholder="insert ID"></td>
      </tr>
      <tr>
        <td>NAME</td>
        <td><input type="text" name="name" th:value="${user2DTO.name}" placeholder="insert NAME"></td>
      </tr>
      <tr>
        <td>BIRTH</td>
        <td><input type="date" name="birth" th:value="${user2DTO.birth}" placeholder="insert BIRTH"></td>
      </tr>
      <tr>
        <td>ADDRESS</td>
        <td><input type="text" name="address" th:value="${user2DTO.addr}" placeholder="insert ADDRESS"></td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <input type="submit" value="수정하기">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>