<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>user3::register</title>
    </head>
    <body>
        <h3>user3 등록</h3>
        <a th:href="@{/}">처음으로</a>
        <a th:href="@{/user3/list}">목록이동</a>

        <form th:action="@{/user3/register}" method="post">
            <table border="1">
                <tr>
                    <td>아이디</td>
                    <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="name" placeholder="이름 입력"></td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td><input type="date" name="birth" placeholder="생년월일 입력"></td>
                </tr>
                <tr>
                    <td>휴대폰</td>
                    <td><input type="text" name="hp" placeholder="휴대폰 입력"></td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <select name="addr" id="addr" onchange="updateGugun()">
                            <option value="">시/도 선택</option>
                            <option value="서울">서울</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="울산">울산</option>
                            <option value="광주">광주</option>
                            <option value="포항">포항</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" value="등록하기">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>