<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user2::list</title>
</head>
<body>
    <h3>user2 목록</h3>
    <a th:href="@{/}">처음으로</a>
    <a th:href="@{/user2/register}">등록하기</a>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>주소</th>
            <th>관리</th>
        </tr>

        <tr th:each="user2:${user2List}">
            <td>[[${user2.uid}]]</td>
            <td>[[${user2.name}]]</td>
            <td th:text="${user2.birth}">#</td>
            <td th:text="${user2.addr}">#</td>
            <td>
                <a th:href="@{/user2/modify(uid=${user2.uid})}">수정</a>
                <a th:href="@{/user2/delete(uid=${user2.uid})}">삭제</a>
            </td>
        </tr>

    </table>

</body>
</html>